{% extends "base.html" %}
{% block title %}
Rules
{% endblock %}

{% block content %}
<div class="intro-container container border mt-5">
  <div class="row">
    <div class="intro header col"> Introduction</div>
  </div>

  <div class="row">
    <div class="intro col mt-3"> The backstory of main character and setting of the game and what we are trying to
      achieve</div>
  </div>

  <div class="row">
    <div class="intro col"> How do players play the game? </div>
  </div>
</div>


<div class="tip-container container border mt-1">
  <div class="row">
    <div class=" TIPS header col mt-3"> TIPS </div>
  </div>
  <div class="row">
    <div class=" TIPS col mt-5"> Tips to suceed in game and list of various objectives </div>
  </div>
  <div class="row">
    <div class=" TIPS col mt-2"> Amount of endings eg: bad, good , neutral , secret </div>
  </div>
  <div class="row">
    <div class=" TIPS col mt-2 mb-5"> Keep attributes above zero to avoid bad end </div>
  </div>
</div>
{% endblock %}
